In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras

In [2]:
df = pd.read_csv('titanic_train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit(df['Sex'])
target = le.transform(df['Sex'])

df['Sex'] = target
labels = np.array(df['Sex'])

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
df = df.drop(['PassengerId', 'Pclass', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis = 1)
df

     Survived  Sex   Age     Fare
0           0    1  22.0   7.2500
1           1    0  38.0  71.2833
2           1    0  26.0   7.9250
3           1    0  35.0  53.1000
4           0    1  35.0   8.0500
..        ...  ...   ...      ...
886         0    1  27.0  13.0000
887         1    0  19.0  30.0000
888         0    0   NaN  23.4500
889         1    1  26.0  30.0000
890         0    1  32.0   7.7500

[891 rows x 4 columns]

In [6]:
print(df.shape)
df.fillna(df.mean().round(1), inplace = True)
df.isnull().sum()

(891, 4)

Survived    0
Sex         0
Age         0
Fare        0
dtype: int64

In [7]:
print(df.groupby('Survived').size())

Survived
0    549
1    342
dtype: int64

In [8]:
X = df[['Sex', "Age", "Fare"]]
y = df['Survived']

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
X_train['Fare'] = X_train['Fare']/100
X_test['Fare'] = X_test['Fare']/100
X_train['Age'] = X_train['Age']/100
X_test['Age'] = X_test['Age']/100

In [11]:
import math 

def sigmoid_np(x):
  return 1/(1 + np.exp(-x))

def loss_function(y_true, y_predicted):
  y_predicted_new = np.array(y_predicted)
  return  -np.mean(y_true*np.log(y_predicted_new) + (1-y_true)*np.log(1-y_predicted_new))

In [12]:
class myNN:
  def __init__(self):   # this initializes the object
    self.w1 = 1
    self.w2 = 1
    self.w3 = 1
    self.b = 0 

  def fit(self, X, y, epochs, loss_threshold):
    self.w1, self.w2, self.w3, self.b = self.gradient_descent(X['Sex'], X['Age'], X['Fare'], y, epochs, loss_threshold)
  
  def predict(self, X):
    weighted_sum = self.w1 * X['Sex'] + self.w2 * X['Age'] + self.w3 * X['Fare'] + self.b
    y_predicted = sigmoid_np(weighted_sum)
    return y_predicted

  def gradient_descent(self, Sex, Age, Fare, y_true, epochs, loss_threshold):
    w1=1
    w2=1
    w3=1
    b=0
    learning_rate = 0.5
    n = len(Sex)

    for i in range(epochs):
      weighted_sum = w1 * Sex + w2 * Age + w3 * Fare + b
      y_predicted = sigmoid_np(weighted_sum)

      loss = loss_function(y_true, y_predicted)

      w1_d = (1/n) * np.dot(Sex, y_predicted - y_true)
      w2_d = (1/n) * np.dot(Age, y_predicted - y_true)
      w3_d = (1/n) * np.dot(Fare, y_predicted - y_true)
      b_d = np.mean(y_predicted - y_true)

      w1 = w1 - learning_rate * w1_d
      w2 = w2 - learning_rate * w2_d
      w3 = w3 - learning_rate * w3_d
      b = b - learning_rate * b_d

      print(f'Epoch:{i+1}, w1:{w1}, w2:{w2}, w3:{w3}, bias:{b}, loss:{loss}')

      if loss < loss_threshold:
        break

    return w1, w2, w3, b

In [13]:
my_model = myNN()
my_model.fit(X_train, y_train, 1000, 0.5)

Epoch:1, w1:0.7923609163713743, w2:0.9387115682827369, w3:0.9571812381667373, bias:-0.19391827165907596, loss:1.1409413141259606
Epoch:2, w1:0.608005160969855, w2:0.8866742881915992, w3:0.9220379711081529, bias:-0.35599510476587226, loss:0.9798116114867956
Epoch:3, w1:0.44798887540409654, w2:0.84398776858818, w3:0.8947229920740859, bias:-0.48624688365149105, loss:0.8615824632692243
Epoch:4, w1:0.3108246579194153, w2:0.8099063266476725, w3:0.8747141454746765, bias:-0.58748846416013, loss:0.7792045474171144
Epoch:5, w1:0.19349218489437547, w2:0.783195874045869, w3:0.8610554107721805, bias:-0.6640712531925819, loss:0.7235165677892182
Epoch:6, w1:0.09255215722315167, w2:0.7625123025196517, w3:0.8526460491265123, bias:-0.7206144665890618, loss:0.6861393950891891
Epoch:7, w1:0.004827389708255525, w2:0.7466300984428536, w3:0.8484373666479577, bias:-0.7612697185975038, loss:0.6607405044906276
Epoch:8, w1:-0.07234131212703852, w2:0.7345260885097445, w3:0.8475212672497104, bias:-0.7894713568264908, loss:0.6430138492926739
Epoch:9, w1:-0.14107680090297725, w2:0.7253821633468504, w3:0.8491496442371547, bias:-0.8079481815943531, loss:0.6301847945457588
Epoch:10, w1:-0.20303905465114883, w2:0.718556712232274, w3:0.8527218182274049, bias:-0.8188307964777951, loss:0.6205063823979922
Epoch:11, w1:-0.2595174833276544, w2:0.7135498838092329, w3:0.857761579345008, bias:-0.8237737741553224, loss:0.6128851549071861
Epoch:12, w1:-0.31151430576494177, w2:0.7099723030154854, w3:0.8638936093123953, bias:-0.8240630189459843, loss:0.6066343705134724
Epoch:13, w1:-0.35981189284782733, w2:0.7075197141638171, w3:0.8708228293809194, bias:-0.8207016466015643, loss:0.6013191608673706
Epoch:14, w1:-0.40502468771731226, w2:0.7059533154845457, w3:0.8783174619614891, bias:-0.8144760265681118, loss:0.5966611667598128
Epoch:15, w1:-0.44763848712753607, w2:0.705084777680861, w3:0.8861955459450702, bias:-0.8060057978647521, loss:0.5924799999470385
Epoch:16, w1:-0.48803999958133104, w2:0.7047648878502664, w3:0.8943143405652065, bias:-0.7957816177100782, loss:0.588657158249786
Epoch:17, w1:-0.5265391190821399, w2:0.7048749279594932, w3:0.9025620369179237, bias:-0.7841937263513449, loss:0.5851136090709471
Epoch:18, w1:-0.5633857928696688, w2:0.7053200973066672, w3:0.9108512756095625, bias:-0.7715536845923412, loss:0.5817957365563244
Epoch:19, w1:-0.5987828798253954, w2:0.7060244620507969, w3:0.9191140664610238, bias:-0.7581110316659239, loss:0.5786664489891556
Epoch:20, w1:-0.63289602352034, w2:0.7069270502543762, w3:0.9272977946595573, bias:-0.7440661449464909, loss:0.575699500286108
Epoch:21, w1:-0.6658612880851926, w2:0.7079788117297388, w3:0.9353620701414822, bias:-0.7295802396157506, loss:0.5728758328130833
Epoch:22, w1:-0.6977911049049087, w2:0.7091402356491237, w3:0.9432762336074023, bias:-0.7147831975039792, loss:0.5701812032091327
Epoch:23, w1:-0.7287789337963406, w2:0.7103794723361498, w3:0.9510173759507424, bias:-0.6997797347710552, loss:0.567604629628961
Epoch:24, w1:-0.7589029382037156, w2:0.7116708444627748, w3:0.9585687608434104, bias:-0.6846542883357963, loss:0.5651373690415242
Epoch:25, w1:-0.7882288985058183, w2:0.7129936611721934, w3:0.9659185652307541, bias:-0.6694749066935033, loss:0.5627722390247211
Epoch:26, w1:-0.8168125325025707, w2:0.7143312694216877, w3:0.9730588715018548, bias:-0.6542963617634155, loss:0.5605031649117178
Epoch:27, w1:-0.8447013516922169, w2:0.715670292213839, w3:0.9799848596177008, bias:-0.6391626474715496, loss:0.5583248752235072
Epoch:28, w1:-0.8719361519498915, w2:0.7170000148620379, w3:0.9866941586201915, bias:-0.624108992830115, loss:0.5562326952093898
Epoch:29, w1:-0.8985522147765169, w2:0.7183118890802234, w3:0.9931863255420945, bias:-0.6091634887501017, loss:0.5542224056297144
Epoch:30, w1:-0.9245802783544946, w2:0.7195991312530077, w3:0.9994624264097127, bias:-0.5943484061893256, loss:0.5522901451398379
Epoch:31, w1:-0.9500473247651462, w2:0.720856396271282, w3:1.0055246992351439, bias:-0.579681266690915, loss:0.5504323419568941
Epoch:32, w1:-0.9749772198466419, w2:0.7220795121996235, w3:1.0113762829763562, bias:-0.5651757136108032, loss:0.5486456652944396
Epoch:33, w1:-0.9993912345441495, w2:0.7232652640584968, w3:1.0170209996581978, bias:-0.5508422224273186, loss:0.546926990216462
Epoch:34, w1:-1.0233084706746758, w2:0.7244112173640747, w3:1.022463179390404, bias:-0.5366886807834435, loss:0.545273371658882
Epoch:35, w1:-1.046746209391708, w2:0.7255155739252591, w3:1.027707520037626, bias:-0.5227208628243983, loss:0.5436820247603413
Epoch:36, w1:-1.0697201969879382, w2:0.726577053866009, w3:1.032758974904827, bias:-0.508942817580794, loss:0.5421503095739475
Epoch:37, w1:-1.0922448797923852, w2:0.7275947990079548, w3:1.0376226630863898, bias:-0.4953571873253786, loss:0.5406757188539869
Epoch:38, w1:-1.1143335976306448, w2:0.728568293679275, w3:1.0423037981566936, bias:-0.48196546878287266, loss:0.5392558680295154
Epoch:39, w1:-1.1359987434940853, w2:0.729497299761329, w3:1.0468076317065085, bias:-0.46876822763183323, loss:0.5378884867581285
Epoch:40, w1:-1.1572518956060434, w2:0.7303818033834589, w3:1.0511394088946968, bias:-0.4557652747772186, loss:0.5365714116432101
Epoch:41, w1:-1.1781039269036755, w2:0.731221971158912, w3:1.0553043337209194, bias:-0.44295581129319334, loss:0.5353025798266384
Epoch:42, w1:-1.198565096013404, w2:0.7320181142445932, w3:1.0593075421580516, bias:-0.43033854766030144, loss:0.5340800232563212
Epoch:43, w1:-1.2186451230392341, w2:0.7327706588228944, w3:1.0631540816332037, bias:-0.4179118018886329, loss:0.5329018634874272
Epoch:44, w1:-1.2383532528699919, w2:0.7334801218598231, w3:1.0668488956298214, bias:-0.4056735802810033, loss:0.5317663069169309
Epoch:45, w1:-1.2576983082148534, w2:0.7341470912016885, w3:1.070396812413284, bias:-0.3936216439094009, loss:0.5306716403789564
Epoch:46, w1:-1.2766887341734958, w2:0.7347722092419603, w3:1.0738025370690418, bias:-0.38175356332371296, loss:0.5296162270477142
Epoch:47, w1:-1.2953326358195996, w2:0.7353561595279985, w3:1.0770706461939714, bias:-0.3700667635598143, loss:0.5285985026081322
Epoch:48, w1:-1.3136378100097292, w2:0.7358996557900886, w3:1.080205584704928, bias:-0.35855856114506923, loss:0.5276169716636724
Epoch:49, w1:-1.3316117724121888, w2:0.7364034329673815, w3:1.0832116643288123, bias:-0.3472261944975633, loss:0.5266702043573062
Epoch:50, w1:-1.3492617805729379, w2:0.7368682398807732, w3:1.0860930634201869, bias:-0.33606684886836835, loss:0.5257568331864001
Epoch:51, w1:-1.3665948536905765, w2:0.7372948332645751, w3:1.0888538278190467, bias:-0.3250776767736946, loss:0.524875549995548
Epoch:52, w1:-1.3836177896536643, w2:0.7376839729195265, w3:1.09149787251563, bias:-0.3142558146976821, loss:0.5240251031339447
Epoch:53, w1:-1.4003371797963782, w2:0.7380364177913373, w3:1.0940289839334068, bias:-0.303598396710158, loss:0.5232042947656516
Epoch:54, w1:-1.4167594217487354, w2:0.7383529228131662, w3:1.0964508226774894, bias:-0.29310256553153147, loss:0.5224119783226172
Epoch:55, w1:-1.4328907306921206, w2:0.7386342363785853, w3:1.0987669266251565, bias:-0.2827654814847054, loss:0.5216470560913209
Epoch:56, w1:-1.4487371492770427, w2:0.738881098334762, w3:1.1009807142592167, bias:-0.27258432969786595, loss:0.5209084769248726
Epoch:57, w1:-1.4643045564157813, w2:0.739094238404684, w3:1.103095488164531, bias:-0.2625563258593482, loss:0.5201952340730374
Epoch:58, w1:-1.4795986751261427, w2:0.7392743749630022, w3:1.105114438624007, bias:-0.2526787207740744, loss:0.5195063631233421
Epoch:59, w1:-1.49462507957252, w2:0.7394222141030674, w3:1.1070406472634018, bias:-0.24294880392836654, loss:0.5188409400468793
Epoch:60, w1:-1.509389201425685, w2:0.739538448943471, w3:1.1088770907048864, bias:-0.23336390623465555, loss:0.5181980793428993
Epoch:61, w1:-1.5238963356423005, w2:0.7396237591312745, w3:1.1106266441979697, bias:-0.22392140209842873, loss:0.5175769322766779
Epoch:62, w1:-1.5381516457482556, w2:0.7396788105064533, w3:1.1122920852033968, bias:-0.21461871092560458, loss:0.5169766852055131
Epoch:63, w1:-1.5521601686959599, w2:0.7397042548981536, w3:1.113876096911344, bias:-0.2054532981685191, loss:0.5163965579880206
Epoch:64, w1:-1.5659268193541829, w2:0.739700730028395, w3:1.1153812716798517, bias:-0.19642267599212387, loss:0.5158358024721911
Epoch:65, w1:-1.57945639467945, w2:0.7396688595030203, w3:1.1168101143831748, bias:-0.18752440362823972, loss:0.515293701057971
Epoch:66, w1:-1.592753577610076, w2:0.7396092528731512, w3:1.118165045662735, bias:-0.17875608747429034, loss:0.5147695653303674
Epoch:67, w1:-1.605822940717333, w2:0.7395225057532774, w3:1.1194484050757902, bias:-0.17011538098345422, loss:0.5142627347592867
Epoch:68, w1:-1.618668949642784, w2:0.7394091999844895, w3:1.1206624541388626, bias:-0.16159998438528766, loss:0.5137725754625949
Epoch:69, w1:-1.6312959663462712, w2:0.7392699038333422, w3:1.121809379264513, bias:-0.15320764426931213, loss:0.5132984790290555
Epoch:70, w1:-1.643708252185265, w2:0.7391051722184788, w3:1.122891294591264, bias:-0.14493615305860086, loss:0.5128398613979696
Epoch:71, w1:-1.655909970843133, w2:0.7389155469585129, w3:1.123910244707431, bias:-0.13678334839585163, loss:0.5123961617925901
Epoch:72, w1:-1.6679051911212641, w2:0.7387015570358008, w3:1.124868207270359, bias:-0.1287471124606448, loss:0.51196684170448
Epoch:73, w1:-1.6796978896077892, w2:0.7384637188716807, w3:1.1257670955231291, bias:-0.12082537123342531, loss:0.5115513839261875
Epoch:74, w1:-1.6912919532338142, w2:0.7382025366095433, w3:1.1266087607112238, bias:-0.11301609371911267, loss:0.511149291629741
Epoch:75, w1:-1.702691181726542, w2:0.7379185024027481, w3:1.1273949944019501, bias:-0.10531729114104281, loss:0.510760087488604
Epoch:76, w1:-1.7138992899673844, w2:0.7376120967049506, w3:1.1281275307096374, bias:-0.09772701611410857, loss:0.5103833128408772
Epoch:77, w1:-1.7249199102620836, w2:0.7372837885608504, w3:1.12880804842977, bias:-0.09024336180443147, loss:0.5100185268916378
Epoch:78, w1:-1.7357565945289573, w2:0.7369340358957535, w3:1.1294381730852987, bias:-0.08286446108161495, loss:0.509665305952424
Epoch:79, w1:-1.746412816410623, w2:0.7365632858026513, w3:1.130019478888415, bias:-0.07558848566855746, loss:0.5093232427160072
Epoch:80, w1:-1.7568919733139128, w2:0.7361719748257811, w3:1.130553490621067, bias:-0.06841364529290765, loss:0.5089919455646638
Epoch:81, w1:-1.7671973883821441, w2:0.735760529239848, w3:1.1310416854374714, bias:-0.0613381868434945, loss:0.5086710379102586
Epoch:82, w1:-1.7773323124034572, w2:0.7353293653242686, w3:1.1314854945918214, bias:-0.05436039353443906, loss:0.5083601575645804
Epoch:83, w1:-1.7872999256585345, w2:0.7348788896319455, w3:1.1318863050943206, bias:-0.04747858407912997, loss:0.5080589561383978
Epoch:84, w1:-1.7971033397106846, w2:0.7344094992522046, w3:1.1322454612985953, bias:-0.040691111875807616, loss:0.5077670984678372
Epoch:85, w1:-1.8067455991409944, w2:0.7339215820676291, w3:1.1325642664234392, bias:-0.033996364206135665, loss:0.5074842620667126
Epoch:86, w1:-1.8162296832310008, w2:0.7334155170046087, w3:1.1328439840117566, bias:-0.02739276144783303, loss:0.5072101366035621
Epoch:87, w1:-1.8255585075951302, w2:0.7328916742774897, w3:1.1330858393294578, bias:-0.02087875630218467, loss:0.5069444234021567
Epoch:88, w1:-1.834734925764973, w2:0.7323504156262721, w3:1.133291020706967, bias:-0.014452833037036764, loss:0.5066868349643509
Epoch:89, w1:-1.843761730727298, w2:0.7317920945478419, w3:1.133460680825889, bias:-0.008113506745705042, loss:0.5064370945142029
Epoch:90, w1:-1.8526416564175805, w2:0.7312170565207661, w3:1.1335959379532812, bias:-0.0018593226220782908, loss:0.5061949355623047
Epoch:91, w1:-1.861377379170696, w2:0.7306256392237102, w3:1.1336978771258777, bias:0.004311144747923517, loss:0.5059601014893929
Epoch:92, w1:-1.8699715191303272, w2:0.7300181727475578, w3:1.1337675512865002, bias:0.010399292078476948, loss:0.5057323451482727
Epoch:93, w1:-1.878426641618537, w2:0.7293949798013363, w3:1.1338059823748026, bias:0.016406488059592935, loss:0.5055114284832156
Epoch:94, w1:-1.8867452584668798, w2:0.7287563759120628, w3:1.1338141623743936, bias:0.022334074016556772, loss:0.5052971221659864
Epoch:95, w1:-1.8949298293103514, w2:0.7281026696186405, w3:1.13379305431829, bias:0.028183364553217956, loss:0.5050892052476986
Epoch:96, w1:-1.9029827628454041, w2:0.7274341626599402, w3:1.1337435932545645, bias:0.03395564817932311, loss:0.5048874648257846
Epoch:97, w1:-1.9109064180532052, w2:0.7267511501572121, w3:1.1336666871739647, bias:0.03965218792212072, loss:0.5046916957253331
Epoch:98, w1:-1.91870310538925, w2:0.7260539207909732, w3:1.1335632179011945, bias:0.04527422192249627, loss:0.5045017001941521
Epoch:99, w1:-1.9263750879404038, w2:0.7253427569725212, w3:1.133434041951476, bias:0.050822964015918, loss:0.5043172876108953
Epoch:100, w1:-1.933924582550389, w2:0.7246179350102266, w3:1.1332799913539249, bias:0.05629960429849158, loss:0.5041382742056609
Epoch:101, w1:-1.9413537609147038, w2:0.7238797252707536, w3:1.1331018744432086, bias:0.06170530967843478, loss:0.5039644827924747
Epoch:102, w1:-1.9486647506459083, w2:0.7231283923353602, w3:1.1329004766208786, bias:0.06704122441329265, loss:0.5037957425131143
Epoch:103, w1:-1.9558596363101886, w2:0.7223641951514284, w3:1.132676561087709, bias:0.07230847063321977, loss:0.5036318885917567
Epoch:104, w1:-1.9629404604360656, w2:0.7215873871793701, w3:1.1324308695483059, bias:0.0775081488506602, loss:0.5034727620999453
Epoch:105, w1:-1.9699092244960923, w2:0.720798216535055, w3:1.1321641228891932, bias:0.08264133845675715, loss:0.5033182097314188
Epoch:106, w1:-1.9767678898623453, w2:0.7199969261279011, w3:1.1318770218315246, bias:0.08770909820482425, loss:0.5031680835863358
Epoch:107, w1:-1.983518378736495, w2:0.7191837537947672, w3:1.1315702475595124, bias:0.09271246668120893, loss:0.5030222409644934
Epoch:108, w1:-1.9901625750552068, w2:0.7183589324297843, w3:1.1312444623256201, bias:0.09765246276387507, loss:0.5028805441671119
Epoch:109, w1:-1.9967023253716045, w2:0.7175226901102558, w3:1.1309003100335075, bias:0.10253008606902911, loss:0.502742860306818
Epoch:110, w1:-2.0031394397134967, w2:0.7166752502187563, w3:1.1305384167996761, bias:0.10734631738610854, loss:0.502609061125451
Epoch:111, w1:-2.009475692419053, w2:0.7158168315615542, w3:1.1301593914947154, bias:0.11210211910144671, loss:0.5024790228193393
Epoch:112, w1:-2.0157128229505825, w2:0.7149476484834777, w3:1.1297638262650114, bias:0.11679843561092242, loss:0.5023526258717309
Epoch:113, w1:-2.02185253668706, w2:0.7140679109793443, w3:1.1293522970357324, bias:0.12143619372189624, loss:0.5022297548920478
Epoch:114, w1:-2.027896505696012, w2:0.7131778248020652, w3:1.1289253639958765, bias:0.1260163030447297, loss:0.5021102984616617
Epoch:115, w1:-2.033846369485359, w2:0.7122775915675359, w3:1.128483572066124, bias:0.13053965637417597, loss:0.5019941489859199
Epoch:116, w1:-2.0397037357358014, w2:0.7113674088564207, w3:1.1280274513502029, bias:0.13500713006092507, loss:0.501881202552133
Epoch:117, w1:-2.0454701810143017, w2:0.7104474703129319, w3:1.1275575175704482, bias:0.13941958437357863, loss:0.5017713587932666
Epoch:118, w1:-2.051147251469206, w2:0.7095179657407061, w3:1.127074272488198, bias:0.1437778638513231, loss:0.5016645207570986
Epoch:119, w1:-2.0567364635075407, w2:0.7085790811958723, w3:1.126578204309644, bias:0.1480827976475631, loss:0.5015605947805953

Epoch:120, w1:-2.0622393044549803, w2:0.7076309990774048, w3:1.126069788077726, bias:0.15233519986476976, loss:0.5014594903692863
Epoch:121, w1:-2.0676572331989935, w2:0.7066738982148524, w3:1.1255494860506294, bias:0.15653586988079168, loss:0.5013611200814169
Epoch:122, w1:-2.07299168081564, w2:0.7057079539535291, w3:1.1250177480674246, bias:0.1606855926668702, loss:0.5012653994166856
Epoch:123, w1:-2.078244051180481, w2:0.7047333382372512, w3:1.1244750119013582, bias:0.16478513909759307, loss:0.5011722467093582
Epoch:124, w1:-2.0834157215640596, w2:0.7037502196886998, w3:1.1239217036012876, bias:0.16883526625301468, loss:0.5010815830255737
Epoch:125, w1:-2.088508043212382, w2:0.7027587636874906, w3:1.1233582378217226, bias:0.17283671771316383, loss:0.5009933320646885
Epoch:126, w1:-2.0935223419128244, w2:0.7017591324460213, w3:1.1227850181419252, bias:0.1767902238451548, loss:0.5009074200644308
Epoch:127, w1:-2.0984599185458754, w2:0.7007514850831736, w3:1.12220243737449, bias:0.18069650208310994, loss:0.5008237757097825
Epoch:128, w1:-2.1033220496231153, w2:0.6997359776959371, w3:1.1216108778638156, bias:0.18455625720109678, loss:0.5007423300453611
Epoch:129, w1:-2.10810998781181, w2:0.698712763429024, w3:1.1210107117748564, bias:0.1883701815792766, loss:0.5006630163912054
Epoch:130, w1:-2.112824962446501, w2:0.6976819925425399, w3:1.1204023013725275, bias:0.19213895546345539, loss:0.5005857702617852
Epoch:131, w1:-2.117468180027952, w2:0.6966438124777727, w3:1.11978599929212, bias:0.19586324721822246, loss:0.5005105292881369
Epoch:132, w1:-2.1220408247097997, w2:0.6955983679211611, w3:1.119162148801068, bias:0.19954371357385683, loss:0.5004372331429688
Epoch:133, w1:-2.126544058773258, w2:0.694545800866501, w3:1.1185310840523919, bias:0.20318099986717572, loss:0.5003658234686207
Epoch:134, w1:-2.1309790230901964, w2:0.6934862506754462, w3:1.1178931303301356, bias:0.20677574027649462, loss:0.5002962438077705
Epoch:135, w1:-2.1353468375749243, w2:0.6924198541363584, w3:1.1172486042870897, bias:0.21032855805086284, loss:0.500228439536756
Epoch:136, w1:-2.139648601624983, w2:0.691346745521558, w3:1.1165978141750939, bias:0.21384006573373443, loss:0.5001623578014285
Epoch:137, w1:-2.1438853945512526, w2:0.6902670566430269, w3:1.1159410600681892, bias:0.21731086538122857, loss:0.5000979474554136
Epoch:138, w1:-2.1480582759976667, w2:0.6891809169066136, w3:1.1152786340788836, bias:0.2207415487751293, loss:0.5000351590006951
Epoch:139, w1:-2.152168286350816, w2:0.6880884533647855, w3:1.1146108205677836, bias:0.22413269763077032, loss:0.49997394453042415

In [14]:
ann = keras.Sequential([
                         keras.layers.Dense(32, input_shape=(3,), activation='relu'),
                         keras.layers.Dense(32, activation = 'relu'),
                         keras.layers.Dense(32, activation = 'relu'),
                         keras.layers.Dense(1, activation = 'sigmoid')
                         ])

ann.compile(optimizer= 'adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [15]:
ann.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                128
_________________________________________________________________
dense_1 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_2 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 33
=================================================================
Total params: 2,273
Trainable params: 2,273
Non-trainable params: 0
_________________________________________________________________

In [16]:
ann.fit(X_train, y_train, epochs = 10)

Epoch 1/10
23/23 [==============================] - 0s 452us/step - loss: 0.6843 - accuracy: 0.6439
Epoch 2/10
23/23 [==============================] - 0s 408us/step - loss: 0.6103 - accuracy: 0.7974
Epoch 3/10
23/23 [==============================] - 0s 453us/step - loss: 0.5435 - accuracy: 0.8029
Epoch 4/10
23/23 [==============================] - 0s 408us/step - loss: 0.4766 - accuracy: 0.8199
Epoch 5/10
23/23 [==============================] - 0s 453us/step - loss: 0.4908 - accuracy: 0.7866
Epoch 6/10
23/23 [==============================] - 0s 408us/step - loss: 0.4799 - accuracy: 0.7975
Epoch 7/10
23/23 [==============================] - 0s 408us/step - loss: 0.4692 - accuracy: 0.7960
Epoch 8/10
23/23 [==============================] - 0s 408us/step - loss: 0.4933 - accuracy: 0.7820
Epoch 9/10
23/23 [==============================] - 0s 408us/step - loss: 0.5284 - accuracy: 0.7602
Epoch 10/10
23/23 [==============================] - 0s 408us/step - loss: 0.5037 - accuracy: 0.7797

In [17]:
ann.evaluate(X_test, y_test)

6/6 [==============================] - 0s 399us/step - loss: 0.5079 - accuracy: 0.7765

[0.5079174637794495, 0.7765362858772278]

In [18]:
ann.predict(X_test[1:10])

array([[0.16426581],
       [0.17576432],
       [0.68769646],
       [0.65906924],
       [0.8316986 ],
       [0.68964076],
       [0.18525645],
       [0.64759755],
       [0.72045714]], dtype=float32)

In [19]:
my_model.predict(X_test[1:10])

439    0.168304
840    0.154193
720    0.653224
39     0.609632
290    0.782774
300    0.625949
333    0.165576
208    0.603629
136    0.656520
dtype: float64